
.container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.527);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.form_container {
    box-shadow: 0 2px 16px rgba(0,0,0,.08);
    /* width: 30vw; */
    min-width: fit-content;
    border-radius: 12px;
    padding: 1.5rem 3rem;
    background-color: white;
    /* margin-bottom: 5vh; */
}

.btn_container {
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.label {
    margin: 0 auto;
    font-size: large;
    width: fit-content;
    margin-bottom: 2rem;
}

.input {
    width: 25vw;
}

.checkbox {
    margin: 0 auto;
}

.checkbox_container {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.photo_upload {
    margin: 0 auto;
    display: block;
    justify-items: center;
}

.fit_warning {
    margin-bottom: 1rem;
}