

.container {
    margin: auto;
    /* background-color: white; */
    width: 70vw;
    min-height: 78vh;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* box-shadow: 0 2px 16px rgba(0,0,0,.08); */
    border-radius: 3px;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(112, 112, 112);
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    min-height: 5vh;
    background-color: rgb(150, 145, 255);
    border-radius: 5px;
    margin: 3px;
    color: rgb(26, 26, 26);
    margin: 5px 0;

    box-shadow: 0 2px 16px rgba(0,0,0,.08);
    background-color: white;

}

.item_record {
    width: 20%;
    /* flex-shrink: 1; */
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 0.5rem; */
    min-height: 5vh;
    border-radius: 5px;
    margin: 3px;
    color: rgb(26, 26, 26);
    margin: 5px 0;

    /* box-shadow: 0 2px 16px rgba(0,0,0,.08); */
    /* background-color: white; */
}

.header_item {
    width: 22%;
    box-shadow: 0 2px 16px rgba(0,0,0,.08);
    border-radius: 5px;
    background-color: white;
    margin: 0;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

