

.container {
    align-items: center;
    justify-content: center;
    height: 78vh;
    display: flex;
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding-bottom: 10vh;
}

.form_container {
    box-shadow: 0 2px 16px rgba(0,0,0,.08);
    width: 30vw;
    min-width: fit-content;
    border-radius: 12px;
    padding: 1.5rem 2.5rem;
    background-color: white;
    /* margin-bottom: 5vh; */
}

.exit_btn {
    margin-top: 1.5rem;
}

.log_container {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
}

.photo {
    height: 20vh;
}

.data_conatiner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.label {
    display: flex;
    gap: 1rem;
    color: rgb(82, 81, 81);
    width: 100%;
    justify-content: space-between;
}

.data {
    color: black;
}